
/** referencia da paleta de cores
verde: #79b044;
Rosado: #dd5638;
Cinza #3e4249
**/


/* CSS geral*/
body {
	margin-top: 40px;
	background-image: url('...img/tile.jpg') top left repeat;
	font-size: 16px;
	font-family: 'Raleway', 'Lato', sans-serif;
	text-rendering: optimizeLegibility;

}
.lead {
	margin-top: 30%;
	box-shadow: 10px solid;
}


.red {
color: red;
}

.red-bold {

	color: #c0392b;
	font-weight: 700;
}
h1 {
	font-size: 3em;
}

h1, h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}


/*==============================HERO==================*/

.hero {
background: url('../img/hero.jpg') 50% 0 repeat fixed; 
min-height: 500px;
padding: 40px 0;
text-rendering: optimizeLegibility;

}

.tile {

	font-size: 102px;
	padding: 10px;
}